$primary-color: rgb(59, 60, 61);
$secondary-color: #eece1a;
$show-home-image: "true";
$home-image: url("../dist/images/andrey-grinkevich-359417-unsplash.jpg");
$background-opacity: 0.7;

@mixin easeOut {
  transition: all 0.75s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background-image: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

//set text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return black;
  } @else {
    @return white;
  }
}

//media query mixins

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
